@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
body {
    color: #1F2125;
    font-family: 'Inter', sans-serif;
    &.body--fixed {
        overflow-y: hidden;
    }
}

.layout {
    display: flex;
    width: 100%;
}

.content {
    flex-grow: 1;
    padding: 30px;
}

.sidebar {
    background: linear-gradient(180deg, #2d357a -12.38%, #0a1142 102.73%);
    color: #fff;
    width: 272px;
    flex-shrink: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all .225s;
    &--collapsed {
        @media screen and (min-width: 992px) {
            width: 96px;
            .sidebar__item {
                padding-right: 26px;
                background: transparent;
                &-show {
                    justify-content: center;
                }
                &-arrow {
                    display: none;
                }
                &-title {
                    display: none;
                }
                &-hidden {
                    display: none !important;
                }
            }
            .sidebar__link {
                justify-content: center;
            }
            .sidebar__collapse {
                display: none;
            }
        }
    }
    &__top {
        padding: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 40px;
        flex-shrink: 0;
    }
    &__collapse {
        &-show {
            display: block;
            width: 18px;
            min-height: 20px;
            background: #000;
        }
        &-hide {
            display: none;
        }
        &--active {
            .sidebar__collapse {
                &-show {
                    display: none;
                }
                &-hide {
                    display: unset;
                }
            }
        }
    }
    &__close {
        display: none;
    }
    &__items {
        margin-top: 40px;
    }
    &__item {
        padding: 16px 16px 16px 26px;
        &--open {
            background: linear-gradient(180deg, #08080b -12.38%, #0a1142 102.73%);
            .sidebar__item {
                &-show {
                    opacity: 1;
                }
                &-arrow {
                    transform: rotate(180deg);
                }
            }
        }
        &--active {
            .sidebar__link {
                opacity: 1;
            }
        }
        &-show {
            display: flex;
            align-items: center;
            cursor: pointer;
            opacity: 0.54;
            &:hover {
                opacity: 1;
            }
        }
        &-icon {
            width: 24px;
            flex-shrink: 0;
            svg {
                width: 100%;
                height: auto;
            }
            path {
                fill: #fff;
            }
        }
        &-title {
            margin-left: 20px;
        }
        &-arrow {
            display: block;
            margin-left: auto;
            flex-shrink: 0;
            transition: all .225s;
        }
        &-hidden {
            padding: 6px 0 0 50px;
            display: none;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        opacity: 0.54;
        &:hover {
            opacity: 1;
        }
    }
    &__sublink {
        display: block;
        padding: 10px;
        &:hover {
            opacity: 0.9;
        }
    }
    &__bottom {
        margin-top: auto;
        padding: 15px 0;
    }
    .mCSB_container {
        margin-right: 0;
    }
}

.mob-burger {
    display: none;
}

@media screen and (max-width: 992px) {
    .mob-burger {
        display: block;
        width: 24px;
        margin-left: auto;
        margin: 0 0 30px auto;
    }
    .content {
        padding: 24px 56px;
    }
    .sidebar {
        position: fixed;
        right: -100000px;
        top: 0;
        z-index: 100;
        &-backdrop {
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            left: 0;
            top: 0;
        }
        &--show {
            right: 0;
        }
        &__collapse {
            display: none;
        }
        &__close {
            display: flex;
            width: 24px;
            height: 24px;
        }
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
    }
}